.right {
  border-right: 1px solid grey;
}

.top {
  border-top: 1px solid grey;
}

.bottom {
  border-bottom: 1px solid grey;
}

.left {
  border-left: 1px solid grey;
}

.row div {
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.row {
  font-size: 5em;
  padding: 5px;
}
